@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    color: rgb(231, 224, 224);
}
.nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background-color: darkgray;
}
a {
    text-decoration: none;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    }
.nav-links > li {
    margin: 10px;
    list-style-type: none;
}
.btn {
        color: white;
        border-color: black;
        background-color: blue;
        box-shadow: 5px 5px 5px black;
        font-size: large;
        border-style: solid;
    }
.active {
    color: white;
}
